.Footer {

    // color: rgb(255,255,255,.75);
    padding: .5rem 1rem;
    position: relative;
    background-color: var(--primary);
    color: white;
    font-size: .85rem;

    .inner {
        max-width: var(--max-page-width);
        margin: auto;
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;

        > * {
            margin: 0 1rem;
            cursor: pointer;

            &:hover {
                text-decoration: underline;    
                text-decoration-style: wavy;
                text-decoration-color: white;//var(--accent);
                
            }
        }

        
    }

    // background-image: url('/bg-footer.png');

    .background {   
        position: absolute;
        inset: 0;
        z-index: -1; 
        background-color: var(--background);
        overflow: hidden;

        &:after {
            content: "";
            // background: linear-gradient(to bottom right, $background-color 50%, transparent);
            // background: url("/koru.png");
            background-repeat: no-repeat;
            width: 200px;
            height: 75%;
            position: absolute;
            // inset: 0;
            right: 10vw;
            bottom: 0;
            background-size: contain;
            transform: rotate(90deg) translateX(50%);
            opacity: .65;
        }
    }

}
