.HomePage {

    padding: 2rem 1rem;
    min-height: calc(100vh - 31px);

    .message_wrapper {
        // display: flex;
        // justify-content: center;
        margin: 4rem auto;
        max-width: 560px;
        font-size: 2rem;
        text-align: center;
        border-radius: var(--border-radius);

        .text {
            font-weight: 900;
            letter-spacing: .5px;
            font-size: 3.5rem;
            margin-top: 1rem;

            &:before {
                content: open-quote;
            }

            &:after {
                content: close-quote;
            }
        }

        .author, 
        .place {
            font-size: 1.25rem;
            color: #3f3f3f;
            // opacity: .85;
        }

    }

    .message_num {
        font-size: .8rem;
        // font-family: initial;
        text-align: center;
        opacity: .65;
        color: #3f3f3f;
    }
}
